body {
	margin: 0;
	width: 130px;
	height: 30px;
	font-family: verdana;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #000;
}
/*#gadgetContent {
	background-color: #FFF;
	width: 130px;
	height: 100px;
	top: 25px;
	/*bottom: 50%;
	/*vertical-align: middle;
	/*text-align: center;
	overflow: hidden;
}*/
img {
	/*border: #000 solid 1px; */
	width: 80px;
	height: 30px;
	/*top: 10px;
	/*left: 50%;
	right: 50%;*/
}
/*button {
	width: 80px;
	height: 25px;
}*/