body{
	margin: 0;
	width: 130px;
	height: 130px;
	font-size: 7pt;
}
#gadgetContent
{
	position: absolute;
	left: 5px;
	margin-top: 5px;
	width: 125px;
	height: 130px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}
#InMessages
{
	height: 75px;
	width: 110px;
	vertical-align: middle;
	text-align: center;
	overflow-y: scroll;
	border: 1px solid #000;
}
#Message
{
	margin-left: 2px;
	border: 1px solid #000;
	margin-top: 5px;
}
#INP
{
	width: 100px;
	font-size: 7pt;
}